{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "blocks": [
    {
      "alignment": "left",
      "segments": [
        {
          "foreground": "__time__",
          "options": {
            "time_format": "15:04:05"
          },
          "style": "plain",
          "template": "{{ .CurrentDate | date .Format }}  ",
          "type": "time"
        },
        {
          "foreground": "__foreground__",
          "style": "plain",
          "template": "{{ if ne .Env.POSH_SESSION_DEFAULT_USER .UserName }}<__user__>{{ .UserName }}</><__foreground__>@</></>{{ end }}<__host__>{{ .HostName }}</>  ",
          "type": "session"
        },
        {
          "foreground": "__root__",
          "style": "plain",
          "template": "󱐋  ",
          "type": "root"
        },
        {
          "foreground": "__foreground__",
          "options": {
            "style": "folder"
          },
          "style": "plain",
          "template": "{{ .Path }}  ",
          "type": "path"
        },
        {
          "foreground": "__git_clean__",
          "foreground_templates": [
            "{{ if or (.Working.Changed) (.Staging.Changed) }}__git_dirty__{{ end }}",
            "{{ if gt .Ahead 0 }}__git_ahead__{{ end }}",
            "{{ if gt .Behind 0 }}__git_behind__{{ end }}"
          ],
          "options": {
            "branch_icon": "",
            "fetch_status": true,
            "fetch_upstream_icon": false
          },
          "style": "plain",
          "template": "git({{ .HEAD }}){{ if .Working.Changed }}<__git_behind__> {{ .Working.String }}</>{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }}{{ end }}{{ if .Staging.Changed }}<__git_clean__> {{ .Staging.String }}</>{{ end }}{{ if gt .StashCount 0 }} [{{ .StashCount }}] {{ end }}  ",
          "type": "git"
        },

        {
          "foreground": "__duration__",
          "options": {
            "style": "roundrock",
            "threshold": 500
          },
          "style": "plain",
          "template": "{{ .FormattedMs }}  ",
          "type": "executiontime"
        },
        {
          "foreground": "__status_ok__",
          "foreground_templates": [
            "{{ if gt .Code 0 }}__status_error__{{ end }}"
          ],
          "options": {
            "always_enabled": false
          },
          "style": "plain",
          "template": "{{ if gt .Code 0 }}exit({{ .Code }})  {{ end }}",
          "type": "status"
        }
      ],
      "type": "prompt"
    },
    {
      "alignment": "left",
      "newline": true,
      "segments": [
        {
          "foreground": "__foreground__",
          "style": "plain",
          "template": "<__prompt__>$</>",
          "type": "text"
        }
      ],
      "type": "prompt"
    }
  ],
  "console_title_template": "{{if .Root}}root :: {{end}}{{.Shell}} :: {{.Folder}}",
  "final_space": true,
  "version": 4
}
