{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "blocks": [
    {
      "alignment": "left",
      "segments": [
        {
          "foreground": "__foreground__",
          "style": "plain",
          "template": "<__brightBlack__>┌</>{{ if ne .Env.POSH_SESSION_DEFAULT_USER .UserName }}<__yellow__>{{ .UserName }}</><__foreground__>@</></>{{ end }}<__blue__>{{ .HostName }}</><__brightBlack__> | </>",
          "type": "session"
        },
        {
          "foreground": "__red__",
          "style": "plain",
          "template": "󱐋<__brightBlack__> | </>",
          "type": "root"
        },
        {
          "foreground": "__foreground__",
          "options": {
            "style": "folder"
          },
          "style": "plain",
          "template": "{{ .Path }} ",
          "type": "path"
        },
        {
          "foreground": "__green__",
          "foreground_templates": [
            "{{ if or (.Working.Changed) (.Staging.Changed) }}__yellow__{{ end }}",
            "{{ if gt .Ahead 0 }}__blue__{{ end }}",
            "{{ if gt .Behind 0 }}__red__{{ end }}"
          ],
          "options": {
            "branch_icon": " ",
            "fetch_status": true,
            "fetch_upstream_icon": true
          },
          "style": "plain",
          "template": "<__brightBlack__>| </>{{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}<__red__> {{ .Working.String }}</>{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }}{{ end }}{{ if .Staging.Changed }}<__green__> {{ .Staging.String }}</>{{ end }}{{ if gt .StashCount 0 }} [{{ .StashCount }}]{{ end }} ",
          "type": "git"
        },
        {
          "foreground": "__green__",
          "options": {
            "time_format": "15:04:05"
          },
          "style": "plain",
          "template": "<__brightBlack__>| </>{{ .CurrentDate | date .Format }} ",
          "type": "time"
        },
        {
          "foreground": "__yellow__",
          "options": {
            "style": "roundrock",
            "threshold": 500
          },
          "style": "plain",
          "template": "<__brightBlack__>| </> {{ .FormattedMs }} </>",
          "type": "executiontime"
        },
        {
          "foreground": "__green__",
          "foreground_templates": [
            "{{ if gt .Code 0 }}__red__{{ end }}"
          ],
          "options": {
            "always_enabled": false
          },
          "style": "plain",
          "template": "<__brightBlack__>| </>{{ if gt .Code 0 }} {{ .Code }}{{ end }} ",
          "type": "status"
        }
      ],
      "type": "prompt"
    },
    {
      "alignment": "left",
      "newline": true,
      "segments": [
        {
          "foreground": "__foreground__",
          "style": "plain",
          "template": "<__brightBlack__>└</><__blue__>$</>",
          "type": "text"
        }
      ],
      "type": "prompt"
    }
  ],
  "console_title_template": "{{if .Root}}root :: {{end}}{{.Shell}} :: {{.Folder}}",
  "final_space": true,
  "version": 4
}
