name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Run setup
        run: ./v2/setup

      - name: Run verification
        run: ./v2/tests/verify.sh

  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run setup
        run: ./v2/setup

      - name: Run verification
        run: ./v2/tests/verify.sh

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run setup
        run: .\v2\windows\setup.ps1
        shell: pwsh

      - name: Run verification
        run: .\v2\windows\verify.ps1
        shell: pwsh
